/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #003563, #326684);
}

/* Header */
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Navigation */
nav {
    background: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    padding: 20px;
    display: flex;
    gap: 20px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Cards */
.card {
    background:linear-gradient(120deg, #5c45b8, #001aff);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color:rgb(208, 235, 255);
    
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
